/*  background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}*/

    /* ljubicasta 9b5de5*/



/* USED COLORS */ 

:root {
    --primary: #4361ee; /* title and links in navbar */
    --primary-transparent: rgba(67,97,238, 0.4); /* navbar underline hover */
    --green-solid: #95E06C;
    --orange-solid: #EDB230;
    --red-solid: #DB5461;
}

.darkblue {
    color: #3a0ca3;
}

.blue {
    color: #4361ee;
}

.indian-red {
    color: #DB5461;
}

a:hover {
    cursor: pointer;
}


/* color: rgb(207, 213, 237);
 */

body {
    margin: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    background: rgba(148, 187, 233, 0.4);
    /*background: rgb(238,174,202, 0.4);*/


}

/* navbar styles */ 

nav {
    width: 100%;
    background-color: white;
}

.title {
    font-family: "Helvetica Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #4361ee;
    padding: 0 40px;
    font-size: 24px;
}

.logo {
    transform: scale(2);
    padding-right: 40px;
    padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #4361ee;
    padding-bottom: 2px;
    border-bottom: 2px solid #4361ee !important;
}
.nav-link {
    padding: 0 !important;
    margin: 0px 15px !important;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid rgba(67,97,238, 0.4); /* add a border bottom */
    color: #4361ee;
    padding-bottom: 2px; /* add padding between text and underline */
}

/* search input */

.search-group {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    padding: 8px;
}

.btn-secondary {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: #333;
}
  
.btn-secondary:hover, 
.btn-secondary:focus {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
}
  
.cursor-pointer:hover {
    cursor: pointer;
}

/* focus for search */
*:focus{
    box-shadow: none;
    border-color: white;
    -webkit-box-shadow: none;
}

.large-text {
    font-size: 18px;
}

.text14 {
    font-size: 12px;
}

hr {
    margin-top: 0;
    border: none;
    border-top: 1px solid gray;
}

.sup-celsius {
    font-size: 0.6em;
}


.centered-div {
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.card.current {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    background-color: white;
    border: none;
}


.card-title {
    font-size: 14px;
    color: grey;
}

.small-icon {
    transform: scale(0.9);
}


.row.info {
    padding: 12px;
}
  

.current-div {
    min-height: 430px !important; 
    overflow: hidden;
}

.margin-right {
    margin-right: 1rem;
}

/* alert box */

.alert {
    position: relative;
    padding: 1.25rem 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.alert-content {
    line-height: 1;
}

.btn-close {
    padding-bottom: 5px;
}
  
.alert .alert-content {
    display: flex;
    align-items: center;
}

.alert .alert-icon {
    font-size: 1.75rem;
    margin-right: 1.5rem;
}
  
.alert .alert-text {
    flex: 1;
}
  
.alert .alert-heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
  
.alert .btn-close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}
  

/* F6F8FA, FAF2FA, FAF6FA, EFF4FA
    background-color: #FAF2FA;
        background: rgba(238,174,202, 0.5);
        anti flash white

*/
.bg-light2 {
    
    
    /*background: rgb(148,187,233);
background: linear-gradient(90deg, rgba(148,187,233,0.5048144257703081) 0%, rgba(238,174,202,0.8577556022408963) 100%);*/
background: rgb(148,187,233);
background: linear-gradient(90deg, rgba(148,187,233,0.6) 0%, rgba(238,174,202,0.55) 100%);


}

.metric {
    font-size: 0.7em !important;
}

.bold-icon {
    font-weight: bold;
}


.text {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.sun-icon {
    color : #EDB230;
}

.no-padding {
    padding: 0;
}

.container2 {
    margin-top: 10%;
    width: 70%;
    margin: 0 20%;
}

.input-group-append {
    position: relative;
    border-color: transparent;
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 14px);
    left: -14em;
    right: 0;
    z-index: 9999;
    border-radius: 0;
    box-shadow: none;
    border-color: transparent;
  }
.less-bold{
  font-weight: 500
}

.cardC{
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 1rem;
    border-radius: 10px;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    background-color: white;
}
  
.img-fluid{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0 0;
}
.row2 .img-fluid{
    margin: 10% 0;
    opacity: 0.5;
    width: 40%;
    text-align: center;
}



.row2{
    font-size: 0.7rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 5px;
    justify-content: center;
}


.row1{
    font-size: 1.0rem;
    color:black;
    margin: 5% 0 3px;
    justify-content: center;
}

.row4{
    font-size: 1.0rem;
    color:black;
    font-size: x-large;
    margin: 5% 0 3px;
    justify-content: center;


}

.row3{
    justify-content: center;
    z-index: 9;
}
.card-3 .row3{
    margin: 5% 0 2.5rem;
}

.slide {
    width: 100%;
}
.carousel-indicators li {
    width: 8px;
    height: 10px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000;
    margin-top: 200px;
}
.carousel-indicators{
    margin-bottom: 0px;
}

@media(max-width:400px)
{
    .row4{
        font-size: 0.7rem;
        font-weight: bold;
        color: black;
    }
    
    .card-body {
        padding: 10px;
    }

}
@media(max-width:320px)
{
    .row4{
        font-size: 0.6rem;
        font-weight: bold;
        color: black;
    }
    
    .card-body {
        padding: 10px;
    }

}

@media(max-width:660px)
{
    
    .card-body {
        padding: 12px;
    }

}

@media(max-width:767px){
    .cardC{
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

    .title {
        font-size: 18px;
    }

    .centered-div.current-div {
        padding-top: 15px;
        height: auto;
    }

    .weather-info-sm {
        font-size: 20px;
    }

    .weather-info-xs {
        font-size: 15px
    }

    
}

@media(max-width:992px){

    .centered-div.current-div {
        padding-top: 15px;
        height: auto;
    }

    
    
}

.active{
    margin-left: 3px;
    margin-right: 3px;
}


/*hourly*/

.slider-container{
    position: relative;
    overflow-x: hidden;
    height: 200px;
    width:70%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}
.item{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 156px;
    height: 200px;
    margin: 0 11px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.arrows{
    color:rgb(192, 191, 191)
}

/*daily*/

.slider-container1{
    position: relative;
    overflow-x: hidden;
    height: 220px;
    width:70%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.slider-width1{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
    margin-top: 10px;
}
.item1{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 148px;
    height: 200px;
    margin: 0 10px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}



