<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
<nav class="navbar navbar-light bg-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand title" href="#">
            <mat-icon class="logo">wb_cloudy</mat-icon>
            Weather Forecast
        </a>
        <div class="collapse navbar-collapse">
          <form class="form-inline ml-auto">
            <div class="input-group search-group">
                <mat-icon class="blue">search</mat-icon>
                <input #myInput name="input" class="form-control mr-sm-2 border-0" type="text" placeholder="Search location"
                [(ngModel)]="searchInput"
                (input)="autocomplete()"
                autocomplete="off">
                <div class="input-group-append">
                    <div #myDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <mat-option class="dropdown-item" *ngFor="let prediction of predictions" (click)="selectCity(prediction)">{{ prediction.description }}
                        </mat-option>
                    </div>
                  </div>
              <span class="input-group-text border-0" id="search-addon">
                <span class="material-symbols-outlined softgrey">
                    near_me
                    </span>
            </span>
            
                
            </div>
        </form>
          
        </div>
      </nav>
  </nav>
  <hr>
  
<div class="centered-div">
    <div class="float-left">
        <p class="d-flex text-muted mb-20 justify-content-center">Weather in {{city}}</p> <!--------grad---------->
        <div class="d-flex align-items-center justify-content-between mb-2 pb-2">
            <div>
                <img [src]="currentWeather.image"
                    width="100px" class="">
            </div>
            <div>
                <h2 class="display-3"><strong>{{currentWeather.current_temp}}<sup class="sup-celsius">°C</sup></strong></h2> <!------trenutna------------>
            </div>
        </div>
        <p class="d-flex mb-20 justify-content-center text"><strong>{{currentWeather.sky}}</strong></p> <!---oblacnost?--------------->
        
        <div class="d-flex align-items-center justify-content-center">
            <mat-icon class="bold-icon">north</mat-icon>
            <div class="text margin-right"> {{currentWeather.max_temp}}°C</div> <!-----max------------->
            <mat-icon class="bold-icon">south</mat-icon>
            <div class="text"> {{currentWeather.min_temp}}°C</div>  <!------min------------>
        </div>
    </div>
    <div class="float-right right-div">
        <br>
        <div class="container text16 float-right">
            <div class="row">
              <div class="col-md-12">
                <div class="row align-items-center">
                  <div class="col-md-2">
                    <mat-icon class="bold-icon">accessibility</mat-icon>
                </div>
                  <div class="col-md-5">
                    <span class="info"> Feels like</span>
                  </div>
                  <div class="col-md-5">
                    <div class="value"> {{currentWeather.feels}}°C</div> <!--------subj---------->
                </div>
                </div>
                <hr>
                <div class="row align-items-center mt-3">
                  <div class="col-md-2">
                    <span class="bold-icon material-symbols-outlined">
                        humidity_mid
                        </span>
                    </div>
                  <div class="col-md-5">
                    <span class="info"> Humidity</span>
                  </div>
                  <div class="col-md-5">
                    <div class="value"> {{currentWeather.humidity}}%</div>  <!--------vlaznost------------->
                </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-md-2">
                      <span class="bold-icon material-symbols-outlined">
                          compress
                          </span>
                      </div>
                    <div class="col-md-5">
                        <div class="info"> Pressure</div>
                    </div>
                    <div class="col-md-5">
                        <div class="value"> {{currentWeather.pressure}} hPa</div> <!-------pritisak----------->
                    </div>
                  </div>
                  <hr>
                  <div class="row align-items-center mt-3">
                    <div class="col-md-2">
                      <span class="bold-icon material-symbols-outlined">
                          sleep
                          </span>
                      </div>
                    <div class="col-md-5">
                        <div class="info"> Moon phase</div>  
                    </div>
                    <div class="col-md-5">
                        <div class="value">{{currentWeather.moon}}</div> <!-------mesec----------->
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
      
</div>


<br>


    <div class="cardC card-2">
        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0"></li>
            <li data-target="#demo" data-slide-to="1" class="active"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
        
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col">
                    <div class="row row1">12:00</div>
                  <div class="row row2">PM</div>
                  <div class="row row3"><img class="img-fluid" src="https://img.icons8.com/ios/100/000000/sun.png"/></div>
                  <div class="row row4">21&deg;</div>
                </div>
                <div class="col">
                    <div class="row row1">12:00</div>
                  <div class="row row2">PM</div>
                  <div class="row row3"><img class="img-fluid" src="https://img.icons8.com/ios/100/000000/sun.png"/></div>
                  <div class="row row4">21&deg;</div>
                </div>
                <div class="col">
                    <div class="row row1">12:00</div>
                  <div class="row row2">PM</div>
                  <div class="row row3"><img class="img-fluid" src="https://img.icons8.com/ios/100/000000/sun.png"/></div>
                  <div class="row row4">21&deg;</div>
                </div>
                <div class="col">
                    <div class="row row1">12:00</div>
                  <div class="row row2">PM</div>
                  <div class="row row3"><img class="img-fluid" src="https://img.icons8.com/ios/100/000000/sun.png"/></div>
                  <div class="row row4">21&deg;</div>
                </div>
                <div class="col">
                    <div class="row row1">12:00</div>
                  <div class="row row2">PM</div>
                  <div class="row row3"><img class="img-fluid" src="https://img.icons8.com/ios/100/000000/sun.png"/></div>
                  <div class="row row4">21&deg;</div>
                </div>
              </div>
               
            </div>
          </div>
        
        </div>
        
        
      </div>



  
    <div class="container d-flex justify-content-center">
        <div class="row d-flex justify-content-center" style="width:92%" >
          <div class="col-md-4 col-lg-2 m-1" *ngFor="let element of elements">
                <div class="row">
                    <div class="card" style="color: #4B515D; border-radius: 15px;">
                      <div class="card-body p-4">
                          <div class="text-center">
                              <h3 class="fas fa-wind fa-fw">Mon</h3>
                          </div>
                        <div class="d-flex flex-column text-center mt-5 mb-4">
                          <div>
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                              width="100px">
                            </div>
                          <span class="small" style="color: #868B94">Sunny</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="flex-grow-1 text-center" style="font-size: 1rem;">
                            <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                              <div class="d-flex">
                                  <div class="col-md-6 d-flex justify-content-end p-1">
                                    <p class="h5 less-bold">15°C</p>
                                  </div>
                                  <div class="col-md-6 d-flex justify-content-start p-1">
                                    <p class="h5" style="color:#a3a6ad">-2°C</p>
                                  </div>
                                </div>
                              </span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
      
      
      
      

</body>