<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
<nav class="navbar navbar-light bg-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand title" href="#">
            <mat-icon class="logo">wb_cloudy</mat-icon>
            Weather Forecast
        </a>
        <div class="collapse navbar-collapse">
          <form class="form-inline ml-auto">
            <div class="input-group search-group">
                <mat-icon class="blue">search</mat-icon>
              <input class="form-control mr-sm-2 border-0" type="search" placeholder="Search location" aria-label="Search">
              <span class="input-group-text border-0" id="search-addon">
                <span class="material-symbols-outlined softgrey">
                    near_me
                    </span>
            </span>
            </div>
          </form>
        </div>
      </nav>
  </nav>
  <hr>
  
<div class="centered-div">
    <div class="float-left">
        <p class="d-flex text-muted mb-20 justify-content-center">Weather in Novi Sad, Serbia</p> <!--------grad---------->
        <div class="d-flex align-items-center justify-content-between mb-2 pb-2">
            <div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                    width="150px">
            </div>
            <div>
                <h2 class="display-3"><strong>23<sup class="sup-celsius">°C</sup></strong></h2> <!------trenutna------------>
            </div>
        </div>
        <p class="d-flex mb-20 justify-content-center text"><strong>Sunny</strong></p> <!---oblacnost?--------------->
        
        <div class="d-flex align-items-center justify-content-center">
            <mat-icon class="bold-icon">north</mat-icon>
            <div class="text margin-right"> 26°C</div> <!-----max------------->
            <mat-icon class="bold-icon">south</mat-icon>
            <div class="text"> 10°C</div>  <!------min------------>
        </div>
    </div>
    <div class="float-right right-div">
        <br>
        <div class="container text16 float-right">
            <div class="row">
              <div class="col-md-12">
                <div class="row align-items-center">
                  <div class="col-md-2">
                    <mat-icon class="bold-icon">accessibility</mat-icon>
                </div>
                  <div class="col-md-5">
                    <span class="info"> Feels like</span>
                  </div>
                  <div class="col-md-5">
                    <div class="value"> 20°C</div> <!--------subj---------->
                </div>
                </div>
                <hr>
                <div class="row align-items-center mt-3">
                  <div class="col-md-2">
                    <span class="bold-icon material-symbols-outlined">
                        humidity_mid
                        </span>
                    </div>
                  <div class="col-md-5">
                    <span class="info"> Humidity</span>
                  </div>
                  <div class="col-md-5">
                    <div class="value"> 0%</div>  <!--------vlaznost------------->
                </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="col-md-2">
                      <span class="bold-icon material-symbols-outlined">
                          compress
                          </span>
                      </div>
                    <div class="col-md-5">
                        <div class="info"> Pressure</div>
                    </div>
                    <div class="col-md-5">
                        <div class="value"> 1016 hPa</div> <!-------pritisak----------->
                    </div>
                  </div>
                  <hr>
                  <div class="row align-items-center mt-3">
                    <div class="col-md-2">
                      <span class="bold-icon material-symbols-outlined">
                          sleep
                          </span>
                      </div>
                    <div class="col-md-5">
                        <div class="info"> Moon phase</div>  
                    </div>
                    <div class="col-md-5">
                        <div class="value"> Full moon</div> <!-------mesec----------->
                    </div>
                  </div>
              </div>
            </div>
          </div>
    </div>
      
</div>


<br>

<div class="centered-div">
    <p class="d-flex text-muted mb-20 justify-content-center">Daily forecast</p>
    <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
        <div class="flex-column">
          <p class="small"><strong>21°C</strong></p>
          <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>12:00</strong></p>
          <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>2°C</strong></p>
          <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>1:00</strong></p>
          <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>20°C</strong></p>
          <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>2:00</strong></p>
          <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>19°C</strong></p>
          <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>3:00</strong></p>
          <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>18°C</strong></p>
          <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>4:00</strong></p>
          <p class="mb-0 text-muted" style="font-size: .65rem;">PM</p>
        </div>
      </div>
</div>


  
    <div class="container d-flex justify-content-center">
        <div class="row d-flex justify-content-center" style="width:92%" >
          <div class="col-md-4 col-lg-2 m-1" *ngFor="let element of elements">
                <div class="row">
                    <div class="card" style="color: #4B515D; border-radius: 15px;">
                      <div class="card-body p-4">
                          <div class="text-center">
                              <h3 class="fas fa-wind fa-fw">Mon</h3>
                          </div>
                        <div class="d-flex flex-column text-center mt-5 mb-4">
                          <div>
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                              width="100px">
                            </div>
                          <span class="small" style="color: #868B94">Sunny</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <div class="flex-grow-1 text-center" style="font-size: 1rem;">
                            <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                              <div class="d-flex">
                                  <div class="col-md-6 d-flex justify-content-end p-1">
                                    <p class="h5 less-bold">15°C</p>
                                  </div>
                                  <div class="col-md-6 d-flex justify-content-start p-1">
                                    <p class="h5" style="color:#a3a6ad">-2°C</p>
                                  </div>
                                </div>
                              </span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
      
      
      
      

</body>